@use '../../includes/mixins' as mx;

.services-hero {
  min-height: 90vh;
  position: relative;
  &::after {
    @include mx.bgHeroImg(-5, '/images/services-hero.webp', 0.9);
    background-attachment: fixed;
  }
}

