$firstColor: #007000;
$secondColor: #009100;
$thirdColor: #359b35;
$fourthColor: #000045;
$fifthColor: #0b0b70ee;

$softerBlack: #353535;
$softBlack: #303030;
$lighterBlack: #252525;
$lightBlack: #202020;
$black: #151515;
$darkBlack: #060606;
$darkerBlack: #020202;

$white: #fdfdfd;
$whiteSmoke: #f6f6f6;

$softerGrey: #efefef;
$softGrey: #d3d3d3;
$lighterGrey: #c9c9c9;
$lightGrey: #a9a9a9;
$grey: #808080;
$darkGrey: #606060;
$darkerGrey: #444444;